.login-form {
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
    border: solid 1px #8F8A89;
    padding: 20px;
}

.form-horizontal .controls {
    margin-left: 70px;
}

.form-horizontal .control-label {
    text-align: left;
    width: 60px;
}

input[type=text], input[type=password] {
    height: 30px;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
}

.index-body {
    background-image: url("/static/images/index_header.jpg");
}

.signup-form {
    width: 200px;
    margin: 50px auto 10px auto;
    padding: 10px 20px;
    border: solid 2px #CCC;
    border-radius: 10px;
}