.login-form {
    width: 400px;
    margin: 100px auto;
    border-radius: 10px;
    border: solid 1px #8F8A89;
    padding: 20px;
}

.form-horizontal .controls {
    margin-left: 70px;
}

.form-horizontal .control-label {
    text-align: left;
    width: 60px;
}

input[type=text], input[type=password] {
    height: 30px;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
}

.index-body {
    background-image: url("/static/images/index_header.jpg");
}

.signup-form {
    width: 200px;
    margin: 50px auto 10px auto;
    padding: 10px 20px;
    border: solid 2px #CCC;
    border-radius: 10px;
}

.signup-form span.alert {
    display: block;
}

.customer-profile-container {
    width: 230px;
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    left: -180px;
    display: none;
    background-color: rgba(255, 255, 255, 0.69);
}

.customer-profile-container td {
    padding: 7px;
    font-size: 13px;
}

.customer-exit {
    display: block;
    float: right;
}

.customer-container, .main-container {
    height: auto;
    width: 990px;
    border: solid 1px #CCC;
    margin: 0 auto;
    box-shadow: 2px 5px 10px #CCC;
    background-color: white;
    padding: 10px 20px;
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
}

.customer-body, .user-body {
    background-color: #EEE;
}

form .error-msg {
    display: block;
}
